
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageOne</title>
</head>
<body>
    <div>
        <a href="/home/pagetwo">Page Two</a>
    </div>
</body>
</html>
